section.banner-about
	.container-fuild
		.card-img
			.img
				img(src="./img/about/banner.png", alt="")


//- section#pagebanner
//- 	.img
//- 		img(src="./img/recruitment/banner.png", alt="")
//- 	.box-text
//- 		h2.title-line Thư viện
